.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    color: #FFFFFF;
    font-family: var(--Anek);
}

.App h1 {
    text-align: center;
    margin: 0;
}